# Build results
**/bin/
**/obj/

# User-specific files
*.user
*.suo
*.userprefs

# IDE
.vs/
.vscode/
*.swp
*.swo

# Secrets
**/appsettings.Production.json
**/appsettings.*.json
!**/appsettings.json
!**/appsettings.Development.json

# Misc
*.log
*.tmp
*.temp
